/*  Colors
 #efebe6
 #4F5755
 #222927
 #30A766
 #4D7B6E
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efebe6;
  color: #222927;
}

.user_1 {
  background-color: green;
}

.user_2 {
  background-color: red;
}

#show-password {
  display: none;
}

#password-eye {
  cursor: pointer;
  display: inline;
  background-color: white;
  font-size: 1.2em;
}

form {
  background-color: #30a766;
}

form label {
  display: block;
}
