/********************Universal*********************/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4f5755;
  color: #222927;
  font-family: "Crimson Text", Serif;
  font-size: 19px;
}

h1,
.friend-icon,
.user-div {
  font-family: "Unica One", Cursive;
}

h1 {
  text-align: center;
  color: white;
  padding: 0.5em;
  font-size: 3em;
  background-color: #065a42;
}

/*********************Main page******************************/
#chat-container {
  background-color: #efebe6;
  width: 75%;
  margin: auto;
  height: calc(100vh - 12em);
  overflow: auto;
  border-radius: 20px;
  padding: 1em;
  padding-bottom: 3em;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 0.5em;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

.chat-text {
  color: white;
  padding: 0.5em;
  font-size: larger;
  width: 85%;
  margin-bottom: 0.5em;
  border-radius: 15px 15px 15px 15px;
}

.friend-chat {
  display: inline-block;
  margin-right: auto;
  background-color: #30a766;
}

.friend-icon {
  display: inline-block;
  background-color: #065a42;
  color: white;
  font-size: x-large;
  line-height: 1.5em;
  width: 1.5em;
  margin-left: 0.5em;
  text-align: center;
  border-radius: 50%;
}

#logout {
  color: white;
  background-color: #222927;
  font-size: x-large;
  position: absolute;
  right: 2em;
  top: 1.5em;
  padding: 0.3em;
  border-radius: 10px;
  font-family: "Unica One", Cursive;
}

#main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#message-container {
  position: absolute;
  bottom: 1.5em;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-left: 2em;
}

#message-text {
  width: 92%;
  line-height: 2em;
  font-size: large;
  border-radius: 10px;
}

.my-chat {
  display: block;
  background-color: #222927;
  margin-right: 1em;
  margin-left: auto;
}

#submit-message {
  font-size: large;
  width: 6%;
  color: white;
  background-color: #30a766;
  border-radius: 10px;
}

.user-div {
  background-color: #efebe6;
  font-size: larger;
  color: white;
  color: black;
  margin: 10px;
  box-shadow: #222927 4px 3px 5px;
  border: #222927 solid 2px;
  width: 80%;
  padding: 0.2em;
  padding-left: 0.5em;
  cursor: pointer;
}

/* Must be under user-div  */
.selected {
  background-color: #30a766;
  color: white;
  box-shadow: black 4px 3px 5px;
}

#user-list {
  width: 20%;
  overflow: auto;
}

#user-toggle {
  position: absolute;
  left: 1em;
  top: 1.5em;
  padding: 0.3em;
  border-radius: 10px;
  font-family: "Unica One", Cursive;
  background-color: #222927;
  color: white;
  font-size: medium;
}

/*********************************Login and register page************************/
.desktop-hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #efebe6;
  color: white;
  width: 85%;
  max-width: 800px;
  margin: auto;
  font-size: x-large;
  line-height: 2em;
  border-radius: 20px;
  padding: 10px;
}

form button {
  background-color: #288a54;
  color: white;
  font-size: x-large;
  padding: 0.5em;
  margin: 0.5em auto;
  border-radius: 10px;
  cursor: pointer;
}

form label {
  background-color: #30a766;
  display: flex;
  justify-content: space-between;
  max-height: 2em;
  padding: 1em;
}

.hidden {
  display: none;
}

label input {
  width: 70%;
  font-size: large;
}

label p {
  width: 30%;
}

label:first-child {
  border-radius: 15px 15px 0 0;
}

label:last-of-type {
  border-radius: 0 0 15px 15px;
}

label:nth-child(2) {
  background-color: #288a54;
}

.login-pass {
  width: 64%;
}

#password-eye {
  cursor: pointer;
  display: inline;
  background-color: white;
  font-size: 1.2em;
  color: #065a42;
  width: 6%;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

#reg-error {
  background-color: #efebe6;
  width: 85%;
  max-width: 800px;
  margin: auto;
  font-size: x-large;
  border-radius: 20px;
  padding: 10px;
  color: red;
  text-align: center;
}

#show-password {
  display: none;
}

#sign-up {
  color: white;
  text-align: center;
  font-size: xx-large;
  padding: 1em;
}

#sign-up-button {
  background-color: #288a54;
  color: white;
  font-size: xx-large;
  padding: 0.2em;
  border-radius: 10px;
  cursor: pointer;
}
/* media query at 1100px, 700px for register page*/

@media screen and (max-width: 450px) {
  /* Universal */
  h1 {
    font-size: 2em;
  }

  /* Register and login pages  */
  form {
    width: 90%;
    font-size: medium;
    line-height: 1.5em;
  }

  form button {
    font-size: medium;
    padding: 0.6em;
    margin: 0.6em auto;
  }

  label input {
    width: 65%;
    min-width: 65%;
    font-size: small;
  }

  label .login-pass {
    width: 59%;
    min-width: 59%;
  }

  label p {
    width: 35%;
  }

  #password-eye {
    font-size: 0.8em;
    width: 6%;
  }

  #reg-error {
    width: 90%;
    font-size: medium;
  }

  #sign-up {
    font-size: large;
  }

  #sign-up-button {
    font-size: medium;
    padding: 0.4em;
  }

  /* Main page  */
  #chat-container {
    position: relative;
    width: 85%;
    height: calc(100vh - 10em);
    padding-bottom: 2em;
  }

  .chat-text {
    padding: 0.5em;
    font-size: medium;
    width: 75%;
    margin-bottom: 0.5em;
  }

  .desktop-hidden {
    display: block;
  }

  .friend-icon {
    font-size: medium;
  }

  #logout {
    font-size: medium;
    right: 1em;
  }

  #message-container {
    position: fixed;
    bottom: 2.5em;
    width: 90%;
    margin: auto;
    margin-left: -0.5em;
  }

  #message-text {
    width: 80%;
    line-height: 1em;
    font-size: medium;
    padding: 0.2em;
  }

  .mobile-hidden {
    display: none;
  }

  #submit-message {
    font-size: medium;
    width: 20%;
  }

  .user-div {
    font-size: large;
    width: 85%;
    margin: 10px auto;
  }

  #user-list {
    width: 85%;
    margin: auto;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  /* Universal */
  h1 {
    font-size: 2.5em;
  }

  /* Register and login pages  */
  form {
    width: 90%;
    font-size: large;
    line-height: 1.7em;
  }

  form button {
    font-size: large;
  }

  label input {
    font-size: medium;
  }

  #password-eye {
    font-size: 1em;
  }

  #reg-error {
    width: 90%;
    font-size: large;
  }

  #sign-up {
    font-size: x-large;
  }

  #sign-up-button {
    font-size: large;
    padding: 0.3em;
  }

  /* Main page */
  #chat-container {
    position: relative;
    width: 85%;
    height: calc(100vh - 11em);
    padding-bottom: 3em;
  }

  .chat-text {
    font-size: large;
    width: 75%;
  }

  .desktop-hidden {
    display: block;
  }

  .friend-icon {
    font-size: large;
  }

  #logout {
    font-size: large;
    right: 1em;
  }

  #message-container {
    position: fixed;
    bottom: 1.5em;
    width: 90%;
    margin: auto;
    margin-left: -0.8em;
  }

  #message-text {
    width: 80%;
    line-height: 1.5em;
    font-size: large;
    padding: 0.2em;
  }

  .mobile-hidden {
    display: none;
  }

  #submit-message {
    font-size: large;
    width: 12%;
  }

  .user-div {
    width: 85%;
    margin: 10px auto;
  }

  #user-list {
    width: 85%;
    margin: auto;
  }

  #user-toggle {
    font-size: large;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .desktop-hidden {
    display: block;
  }

  #message-container {
    width: 75%;
    margin: auto;
  }

  #message-text {
    width: 80%;
  }

  .mobile-hidden {
    display: none;
  }

  #submit-message {
    width: 12%;
  }

  .user-div {
    width: 85%;
    margin: 10px auto;
  }

  #user-list {
    width: 85%;
    margin: auto;
  }

  #user-toggle {
    font-size: x-large;
    left: 2em;
  }
}
